/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #f0faff;
}
.nav {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  background: #26a69a;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}
.nav {
  justify-content: space-between;
}
a {
  color: #fff;
  text-decoration: none;
}
.nav .logo {
  font-size: 22px;
  font-weight: 500;
}
.nav .nav-links {
  column-gap: 20px;
  list-style: none;
}
.nav .nav-links a {
  transition: all 0.2s linear;
}




.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}

/* responsive */
@media (min-width:1160px){
  .grid{
  
    grid-template-columns: repeat(2, 1fr); 
  }
}
@media  (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }
 
  
}
@media (max-width: 380px) {
  .nav {
    padding: 15px 50px;
  }
  .skill .grid{
    display: grid;
    grid-template-columns: auto;
  }
  
}
@media (max-width: 950px) {
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }
  .nav {
    padding: 15px 20px;
  }
  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: #11101d;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
  }
  .nav.openNav .nav-links {
    left: 0;
  }
  .nav .navOpenBtn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .home{
    height: min-content;
    flex: 100%;
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
  }
  #home .intro{
    display: flex;
        align-items: center;
        flex-direction: column;
        margin: 3em 0;
        width: 100%;
        padding: 0 10px;
  }
  #home img{
    margin-top: 5em;
    min-width: 250px;
}

 
}
.home{
  /* height: 100vh; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  line-height: 3em;
  flex-wrap: wrap;
  margin-top: 10%;
 
}

.home img{
  width: 35%;
}
.home .intro{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.home h1{
color: #26a69a;
margin-top: -3%;
margin-bottom: -3%;
}
.home span{
  color: #26a69a;
  margin-top:-3%;
}
.home button{
  padding: 10px;
  background-color: #26a69a;
  color: white;
  border-radius: 10px;
  border:none;
}

.profil{
  background-color: #26a69a;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-top: -10px;
  flex-wrap: wrap;
  color: white;
  padding: 10px;
  
}

.skill{
  padding: 10px;
  align-items: center;
  text-align: center;
  color: #26a69a;
}
 .grid{
  display: grid;
  /* grid-template-columns: auto auto; */
  /* align-items: center; */
  gap: 10px;
}
.grid-item{
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: grid;
  gap: 10px;
  grid-template-columns: 20% 80%;
  text-align: left;
  align-items: center;
  border-radius: 10px;
}
.grid-item p{
  color: black;
}

.contact{
  background-color: #26a69a;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-top: -10px;
  flex-wrap: wrap;
  color: white;
  padding: 10px;
  
}.grid-itemm{
  
  padding: 15px;
  
  text-align: center;
  align-items: center;
  
}